name: "Release Test"
on: push

permissions:
  id-token: write
  contents: read

env:
  BUILD_NAME: TestApplication
  VERSION: "1.0.${{ github.run_number }}"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup JFrog CLI
        uses: jfrog/setup-jfrog-cli@v4
        env:
          JF_URL: ${{ vars.JF_URL }}
        with:
          oidc-provider-name: DLivshin/maven-project@github

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '8'

      - name: Configure Maven for Artifactory
        run: jf mvnc --repo-resolve-releases=example-libs-release --repo-resolve-snapshots=example-libs-snapshot

      - name: Build Maven Project
        run: |
          export JFROG_RUN_NATIVE=true

          # 2. Run the deploy. 
          jf mvn clean deploy \
            -DaltDeploymentRepository=example-libs-release::https://davidtesttrial.jfrog.io/artifactory/example-libs-release \
            --build-name="${{ env.BUILD_NAME }}" \
            --build-number="${{ env.VERSION }}"
            
      - name: Package & Upload Assets to Generic Repo
        run: |
          # Fixed the double --build-name typo here
          jf rt upload "assets/*" "generic-local-dev/release-assets/${{ env.VERSION }}/" \
            --build-name="${{ env.BUILD_NAME }}" \
            --build-number="${{ env.VERSION }}"

      - name: Publish Build Info
        run: jf rt build-publish "${{ env.BUILD_NAME }}" "${{ env.VERSION }}"
