name: "Release Test"
on: push

permissions:
  id-token: write
  contents: read
env:
  BUILD_NAME: TestApplication
  VERSION: "1.0.${{ github.run_number }}"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup JFrog CLI
        uses: jfrog/setup-jfrog-cli@v4
        env:
          JF_URL: ${{ vars.JF_URL }}
        with:
          oidc-provider-name: DLivshin/maven-project@github

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '8'

      - name: Configure Maven for Artifactory
        # This points Maven to your Artifactory virtual repos
        run: jf mvnc --repo-resolve-releases=example-libs-release --repo-resolve-snapshots=example-libs-snapshot

      - name: Build Maven Project
        # This captures the 14 dependencies into the "Repro_Build" record
        run: |
          jf mvn versions:set -DnewVersion="${{ env.VERSION }}" -DgenerateBackupPoms=false
          jf mvn clean deploy --build-name="${{ env.BUILD_NAME }}" --build-number="${{ env.VERSION }}"
          
      - name: Package & Upload Assets to Generic Repo
        run: |
          # 1. Upload the PowerShell/XML assets to the generic repo
          # We use the SAME build-name and build-number to link them
          jf rt upload "assets/*" "generic-local-dev/release-assets/" \
            --build-name=--build-name="${{ env.BUILD_NAME }}" \
            --build-number="${{ env.VERSION }}"


      - name: Publish Build Info
        # This pushes the "Manifest" to Artifactory so Xray can see everything
        run: jf rt build-publish "${{ env.BUILD_NAME }}" "${{ env.VERSION }}"
